.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5vmin;
    width: 100%;
    height: 100%;
    padding: 1.5vmin;
}


.pill {
    background: rgba(255, 255, 255, 0.12);
    /* Slightly more visible pill bg */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.5vmin;
    padding: 1.5vmin 2.3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.pill:hover {
    background: rgba(255, 255, 255, 0.25);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3vmin;
}


.name {
